/* 
    el estilo en el html y en el body es para manejar de manera sencilla los rem 
    lo cual hara que la pagina se adapte bien a diferentes tipos de pantalla
*/

/* almacenar variables en selectores, tambien conocidas como custom properties */

:root {
    --blanco: #fff;
    --negro: #212121;

    /* color principal */
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    /* carga tres fuentes para prevenir fallos al cargar alguna de esas */
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    /* mandando a llamar la variable */
    font-size: var(--fuente-principal);
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    /* centrar contenido */
    width: 120rem;

    /* sintaxis larga
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
    */

    /* sintaxis resumida
        margin: 0 auto 0 auto;
    */

    /* sintaxis final */
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {

    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    color: var(--blanco);
    /* relleno de 10 px en cada lado */
    padding: 1rem;
    /* eliminar estilos del enlace */
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--negro);
}